@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Google Sans", sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

svg {
    width: 1.5rem;
}

.title {
    font-size: 2.5rem;
    margin: 2rem 4rem;
}

#task-form {
    display: flex;
    margin: 2rem 4rem;
    justify-content: space-between;
}

#task-input {
    width: 85%;
    font-size: 1.5rem;
    padding-left: 2rem;
    border-radius: 1rem;
    background-color: #e6e6e6;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
}

.submit-button {
    cursor: pointer;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgb(79, 255, 208);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#task-list {
    list-style-type: none;
    font-size: 1.8rem;
    margin: 0 4rem;
}

.task-item {
    display: flex;
    margin: 0.8rem 0;
    padding: 0 0 0 2rem;
    border-radius: 1rem;
    justify-content: space-between;
    align-items: center;
    background-color: #e7fffb;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.task-item input[type="checkbox"] {
    width: 1.2rem;
    height: 1.2rem;
}

.task-item span {
    width: 100%;
    display: flex;
    font-size: 1.5rem;
    justify-content: left;
    align-items: center;
    padding: 0 0 0 2rem;
}

.task-item button {
    cursor: pointer;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgb(255, 160, 160);
}

@media (max-width: 768px) {

    .title {
        font-size: 2.2rem;
        margin: 1.5rem 3rem;
    }

    #task-form {
        margin: 1.5rem 3rem;
    }

    #task-input {
        font-size: 1.2rem;
    }

    #task-list {
        margin: 0 3rem;
    }

    .task-item span {
        font-size: 1.2rem;
    }
}

@media (max-width: 540px) {
    
    .title {
        font-size: 2rem;
        margin: 1rem 2rem;
    }

    #task-form {
        margin: 1rem 2rem;
    }

    #task-input {
        font-size: 1rem;
    }

    .submit-button {
        padding: 0.5rem;
    }

    #task-list {
        margin: 0 2rem;
        font-size: 1.5rem;
    }

    .task-item button {
        padding: 0.5rem;
    }

    .task-item span {
        font-size: 1rem;
    }
}